body {
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--color-green);
}

hr {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-gray-100);
}

#registerForm {
  display: none;
}
