@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 1.6rem;
  height: 1.6rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-100);
  transition: background 0.3s ease;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

:root {
  --color-green: #54d00a;
  --color-green-100: #2aab05;
  --color-green-200: #008500;
  --color-gray: #dfdfdf;
  --color-gray-100: #c0c0c0;
  --color-gray-200: #a0a0a0;
  --shadow: 0 0.4rem 0.6rem -0.1rem rgba(0, 0, 0, 0.1),
    0 0.2rem 0.4rem -0.2rem rgba(0, 0, 0, 0.1);

  --black: #000000;
  --white: #ffffff;
}
