html {
  scrollbar-width: none;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  box-shadow: var(--shadow);
}

.header .title {
  font-size: 2.4rem;
  font-weight: 700;
}

.header i {
  color: var(--black);
  font-size: 3.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header i:hover {
  color: var(--color-green);
}

.modal-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.modal-wrapper.active {
  display: flex;
}

.secondary-modal {
  display: none;
}

.secondary-modal.active {
  display: flex;
}

.main {
  flex: 1;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.catalog-section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.section-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--black);
}

.catalog-row {
  display: flex;
  gap: 1.6rem;
  overflow-x: auto;
}

.card {
  border: 0.2rem solid var(--color-gray-100);
  min-width: 20rem;
  height: 30rem;
  background: white;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card:hover {
  background-color: var(--color-gray-100);
}
