@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Lexend:wght@100..900&display=swap");

.title {
  font-family: "Lexend", sans-serif;
  font-size: 5rem;
  color: var(--green-100);
  max-width: 90%;
  text-align: center;
  line-height: 1.1;
}