@import "root.css";

.auth-main .title {
  font-size: 2rem;
}

.auth-main .label {
  color: var(--white-100);
}

.auth-main .term {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-main .term-button {
  background: none;
  color: var(--green-300);
}

.auth-main .msg {
  color: var(--red-300);
}

.auth-main .button {
  font-size: 1rem;
  width: 100%;
}

.auth-main .link {
  font-size: 1rem;
}

.auth-main .displayNone {
  display: none;
}

.auth-main .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1e1e1e3f;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.auth-main .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  width: 25rem;
  max-height: 80vh;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.auth-main .title-term {
  font-family: "Gasoek One", sans-serif;
  font-size: 2rem;
  color: var(--green-100);
}

.auth-main .terms-text {
  margin-top: 1rem;
  color: var(--green-100);
}

.auth-main .terms-button {
  margin-left: 0.3rem;
  background: none;
  color: var(--green-300);
  cursor: pointer;
}

.auth-main .terms-button:hover {
  color: var(--green-100);
  transition: 0.2s linear;
}
