@import "root.css";

.main {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/img/base.png);
}

.form {
  /*display: flex;*/
  /*flex-direction: column;*/
  align-items:center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 0.25rem 0.5rem #1e1e1e3f;
  /*width: 27rem;*/
  width: 90vw !important;
  max-width: 1200px;
}

.form::selection {
  background-color: var(--green-300);
}

.title {
  font-family: "Gasoek One", sans-serif;
  font-size: 2rem;
  color: var(--green-100);
  
}

.input {
  position: relative;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--white-100);
  color: var(--green-100);
}

.input::placeholder {
  font-weight: bold;
  color: var(--white-100);
}

.input:focus {
  border-color: var(--green-300);
}

.input:focus:hover {
  border-color: var(--green-300);
}

.input:hover {
  border-color: var(--grey-50);
}

.term {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 0.15rem;
  border: 0.15rem solid var(--white-100);
  margin-right: 0.5rem;
}

.check:checked {
  background-color: var(--white-100);
}

.label {
  color: var(--white-100);
}

.term-button {
  background: none;
  color: var(--green-300);
}

.msg {
  color: var(--red-300);
}

.button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--green-100);
  color: var(--green-300);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s linear;
  
}

.button:hover {
  background-color: var(--green-300);
  color: var(--green-100);
}

.link {
  color: var(--green-100);
  background: none;
  cursor: pointer;
  transition: 0.2s linear;
}

.link:hover {
  color: var(--green-300);
}

.displayNone {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1e1e1e3f;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  width: 25rem;
  max-height: 80vh;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.title-term {
  font-family: "Gasoek One", sans-serif;
  font-size: 2rem;
  color: var(--green-100);
}

.terms-text {
  margin-top: 1rem;
  color: var(--green-100);
}

.terms-button {
  margin-left: 0.3rem;
  background: none;
  color: var(--green-300);
  cursor: pointer;
}

.terms-button:hover {
  color: var(--green-100);
  transition: 0.2s linear;
}


.cabecalho{
background-color: var(--green-100);
color: var(--white-100);

}
.tabela{
 
  border-collapse: separate; /* Permite que o border-radius funcione corretamente */
  border-spacing: 0;       /* Remove o espaço entre as células */
  border-radius: 15px;     /* Aplica cantos arredondados a todos os cantos */
  overflow: hidden;    
  align-items:center;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 0.25rem 0.5rem #1e1e1e3f;
  width: 90vw !important;
  max-width: 1200px;
  margin-bottom: 60px;

}
