@import "root.css";

.header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
}

.title {
  font-size: 3rem;
  font-size: clamp(1.5rem, 4vw, 3rem);
  text-align: left;
  max-width: 80%;
}

.contrast {
  font-size: clamp(2rem, 8vw, 4rem);
  -webkit-text-stroke-width: clamp(0.1rem, 0.5vw, 0.2rem);
  display: inline-block;
}

.header .ph-fill {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  cursor: pointer;
  color: var(--green-100);
  cursor: pointer;
  transition: 0.2s linear;
}

.header .ph-fill:hover {
  color: var(--green-300);
}

.settings-button {
  background: none;
}

.dropdown-menu {
  width: 90vw;
  max-width: 25rem;
  padding: 1.5rem;
  position: absolute;
  top: 110%;
  right: 5rem;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.5rem #1e1e1e3f;
  flex-direction: column;
  gap: 1rem;
  display: none;
  z-index: 1000;
}

.dropdown-menu > .title {
  font-size: 2rem;
}

.dropdown-menu > .button {
  width: 100%;
  font-size: 1rem;
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.active {
  display: flex;
}

.home-main .main {
  flex: 1;
  padding: 1rem;
}

@media (max-width: 480px) {
  .header {
    padding: 1rem;
  }
  .home-main .contrast {
    font-size: 2.2rem;
  }

  .dropdown-menu {
    right: 50%;
    transform: translateX(50%);
    width: 95vw;
  }
}
