@import "root.css";

.index-main .button {
  margin-bottom: 1rem;
}

.index-main .button > i {
  font-size: 1.25rem;
}

.index-main .title {
  line-height: 1.2;
  margin-bottom: 3rem;
}
.index-main {
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
