@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
  list-style: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --green-100: #204749;
  --green-300: #08cb00;

  --white: #ffffff;
  --white-100: #d9d9d9;

  --grey-50: #cfcfcf;
  --grey-100: #181818;
  --grey-200: #2c2c2c;
  --grey-300: #363636;

  --red-300: #ff6b6b;

  --black: #000000;
}

/* STYLES IN CLASS */

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../src/img/base.png);
  margin-top: 5rem;
}

.title {
  font-family: "Gasoek One", sans-serif;
  font-size: 6rem;
  color: var(--green-100);
  max-width: 94rem;
  text-align: center;
}

.contrast {
  font-family: "Gasoek One", sans-serif;
  font-size: 6rem;
  display: inline-block;
  color: var(--green-300);
  -webkit-text-stroke-width: 0.25rem;
  -webkit-text-stroke-color: var(--green-100);
  animation: pulse 2s linear infinite;
}

.logo {
  font-family: "Gasoek One", sans-serif;
  font-size: 2.5rem;
  color: var(--green-100);
}

.contrast-logo {
  font-family: "Gasoek One", sans-serif;
  font-size: 2.5rem;
  display: inline-block;
  color: var(--green-300);
  -webkit-text-stroke-width: 0.125rem;
  -webkit-text-stroke-color: var(--green-100);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 0.25rem 0.5rem #1e1e1e3f;
  width: 27rem;
}

.form::selection {
  background-color: var(--green-300);
}

.input {
  position: relative;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--white-100);
  color: var(--green-100);
}

.input::placeholder {
  font-weight: bold;
  color: var(--white-100);
}

.input:focus {
  border-color: var(--green-300);
}

.input:focus:hover {
  border-color: var(--green-300);
}

.input:hover {
  border-color: var(--grey-50);
}

.check {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 0.15rem;
  border: 0.15rem solid var(--white-100);
  margin-right: 0.5rem;
}

.check:checked {
  background-color: var(--white-100);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--green-100);
  color: var(--green-300);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.2s linear;
  cursor: pointer;
}

.button:hover {
  background-color: var(--green-300);
  color: var(--green-100);
}

.link {
  cursor: pointer;
  background: none;
  font-size: 1.5rem;
  color: var(--green-100);
  transition: 0.2s linear;
}

.link:hover {
  color: var(--green-300);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
